<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">D:/logs</property>
        <property name="FILE_NAME">run-log</property>
        <property name="SQL_LOG_NAME">sql-log</property>
    </properties>


    <Appenders>
            <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
             <AppenderRef ref="Console" />
        </Root>
        <!-- 配置 sql语句日志打印-->
    <Logger name="learn.web.dao" level="TRACE" additivity="false">
      <AppenderRef ref="Console" />
    </Logger> 
    </Loggers>
</Configuration>